logs/*
*.wav
__pycache__

a.py
*.ipynb
zoro/*
datas/*

*.txt
bak/*

clone_wav/*
cut_split_bak.py
serve.config.yaml
text
utt2text
wav.scp

*.ipynb
*.txt
*.scp
*text

bak/*
clone_wav/*
datas/*
cut_split_bak.py
out_wav/*
zoro/*


serve.config.yaml
